/* label.error{color: #FF0000 !important; font-family: 'Poppins', sans-serif; text-transform: none !important; font-size: 16px !important; font-weight: normal !important;} */

/*.errorMessage{color: #FF0000 !important; font-family: 'Poppins', sans-serif; text-transform: none !important; font-size: 16px !important; font-weight: normal !important;}
.successMessage{color: #7c9615 !important; font-family: 'Poppins', sans-serif; text-transform: none !important; font-size: 16px !important; font-weight: normal !important;}*/
label.error{color: #FF0000 !important; text-transform: none !important; font-weight: normal !important; font-size: 12px !important;}
.errorMessage{color: #FF0000 !important;}
.successMessage{color: #7c9615 !important;}

/* Loader */
.loader{width: 60px; height: 60px; border-radius: 100%; position: relative; margin: 0 auto; }
#loader-1:before, #loader-1:after{ content: ""; position: absolute; top: -10px; left: -10px; width: 100%; height: 100%; border-radius: 100%;
     border: 5px solid transparent; border-top-color: #7c9615; }
#loader-1:before{z-index: 100; animation: spin 1s infinite;}
#loader-1:after{border: 5px solid #ccc;}  
@keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
.whole-area{ position: fixed; /*background:rgba(255, 255, 255, 0.6);*/ background:rgba(0,0,0,0.6); top: 0; left: 0; width: 100%; height: 100%; z-index: 999999; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.text_center{text-align: center !important;}

#paymentMethodForm #card_number {
    background-image: url("../../images/site/validate_cards.png"), url("../../images/site/validate_cards.png");
    background-position: 10px -116px, 450px -55px;
    background-repeat: no-repeat;
    background-size: 120px 361px, 120px 361px;
    padding-left: 65px;
    height: 41px;
}